{% extends 'GeniusDesignBackendBundle::layout.html.twig' %}

{% block content %}
    {% set parameters = {'languageCode': languageCode} %}
    {% set routeName = 'genius_news_add' %}

    {% if not isAddsNews %}
        {% set parameters = parameters | merge({'newsSlug': news.getTitleSlug()}) %}
        {% set routeName = 'genius_news_edit' %}
    {% endif %}

    <form method="post" action="{{ path(routeName, parameters) }}" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        {% if isImageVisible and news.getImageFileName() is not empty %}
            <img src="{{ genius_design_file_path('genius_design_components_news', news.getImageFileName(), 'small', true, true, true, 'medium') }}" />
            <a href="{{ path('genius_news_delete_image', parameters | merge({'newsSlug': news.getTitleSlug()})) }}" class="confirm link delete">Usuń obrazek</a>
        {% endif %}
        
        <div class="form-navigation">
            <div class="submit-button"> {# contentsubmitButton #}
                <input type="submit" id="go" name="go" value="Zapisz" />
            </div>

            <div class="">
                <a class="link cancel" href="{{ path('genius_news_list', {'languageCode': languageCode}) }}">Anuluj</a>
            </div>
        </div>
    </form>
    
    {#{ tinymce_init() }#}
{% endblock %}