{% extends 'GeniusDesignBackendBundle::layout.html.twig' %}

{#% block pageTitle %}
    Aktualności
{% endblock %#}
    

    
{% block javascripts %}
    {{ parent() }}
{% endblock %}    

{% block content %}
    <table id="news-list" class="centered list">
        <tr>
            <th>Lp.</th>
            {#<th>Obrazek</th>#}
            <th>Tytuł</th>
            <th>Data</th>
            <th>Operacje</th>
        </tr>
            
        {% if news is not empty %}
            {% for index, item in news %}
                {% set newsId = item.getId() %}
                {% set url = path('genius_news_edit', {'newsId': newsId, 'language': language}) %}
        
                {% set fileName = item.getImageFileName() %}
                {% set title = item.getTitle() %}

                <tr>
                    <td class="">
                        <a href="{{ url }}">{{ index + 1 }}{#{ index + 1 + offset }#}</a>
                    </td>
                    {#% if imageVisible %}
                        <td class="">
                            <a href="{{ url }}"></a>
                        </td>
                    {% endif %#}
                    <td class="" title="{{ title }}">
                        <a href="{{ url }}">{{ title }}</a>
                    </td>
                    <td class="">
                        <a href="{{ url }}">{{ item.getDisplayedDate() | date(dateFormat) }}</a>
                    </td>
                    <td class="">
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="" colspan="5">
                    Brak aktualności
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock %}