{% extends 'GeniusDesignBackendBundle::layout.html.twig' %}

{#% block pageTitle %}
    Aktualności
{% endblock %#}

{% block javascripts %}
    {{ parent() }}
{% endblock %}    

{% block content %}
    <div class="options-box">
        <a class="link add" href="{{ path('genius_news_add', {'languageCode': languageCode}) }}" class="">Dodaj aktualność</a>
    </div>

    <table id="news-list" class="centered list">
        <thead>
            <tr>
                <th>Lp.</th>
                {% if isImageVisible %}<th>Obrazek</th>{% endif %}
                <th>Tytuł</th>
                {% if isDateVisible %}<th>Data</th>{% endif %}
                <th>Publicznie</th>
                <th>Operacje</th>
            </tr>
        </thead>
        
        <tbody>
            {% if news is not empty %}
                {% for index, item in news %}
                    {% set newsSlug = item.getTitleSlug() %}
                    {% set url = path('genius_news_edit', {'newsSlug': newsSlug, 'languageCode': languageCode}) %}

                    {% set fileName = item.getImageFileName() %}
                    {% set title = item.getTitle() %}

                    <tr>
                        <td class="">
                            <a href="{{ url }}">{{ index + 1 }}{#{ index + 1 + offset }#}</a>
                        </td>
                        {% if isImageVisible %}
                            <td class="">
                                {% if item.getImageFileName() is not empty %}
                                    <a href="{{ url }}">
                                        <img src="{{ genius_design_file_path('genius_design_components_news', item.getImageFileName(), 'tiny', true, true, true, 'small') }}" />
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                        <td class="" title="{{ title }}">
                            <a href="{{ url }}">{{ title }}</a>
                        </td>
                        {% if isDateVisible %}
                            <td class="">
                                <a href="{{ url }}">{{ item.getDisplayedDate() | date(dateFormat) }}</a>
                            </td>
                        {% endif %}
                        <td class="">
                            {% set toogle = path('genius_news_toggle_published', {'newsSlug': newsSlug, 'languageCode': languageCode}) %}
                            {% set toogleText = 'NIE' %}

                            {% if item.getPublished() %}
                                {% set toogleText = 'TAK' %}
                            {% endif %}

                            <a href="{{ toogle }}" class="link toggle">{{ toogleText }}</a>
                        </td>
                        <td class="">
                            <a class="link delete confirm" href="{{ path('genius_news_delete', {'newsSlug': newsSlug, 'languageCode': languageCode}) }}">Usuń</a>
                            <a href="{{ url }}" class="link edit">Edytuj</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="" colspan="6">
                        Brak aktualności
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}