<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="robots" content="noindex,nofollow" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
        <link rel="shortcut icon" href="{{ asset('') }}" />

        {% block stylesheets %}
            {#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/geniusdesigncommon/css/reset.css') }}" media="all" />#}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/geniusdesignfrontend/css/styles.css') }}" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/geniusdesigncommon/css/jquery-ui/ui-lightness/jquery-ui-1.9.2.custom.min.css') }}" media="all" />
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript">
                var datapickerformat = '{{ datapickerFormat() }}';
            </script>
            
            <script type="text/javascript" src="{{ asset('bundles/geniusdesigncommon/js/jquery/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/geniusdesigncommon/js/jquery-ui/jquery-ui-1.9.2.custom.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/geniusdesigncommon/js/jquery/easyconfirm.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/geniusdesigncommon/js/common.js') }}"></script>
        {% endblock %}
    </head>

    <body>
        <div class="body">
            <div id="status-bar-container">
                {% if genius_design_languages_defined() %}
                    {{ genius_design_show_languages() }}
                {% endif %}
                    
                <div id="status-bar">Pasek statusowy</div>
            </div>

            <div class="header">Nagłówek strony</div>
            
            <div class="main">
                <div class="menu">
                        {% set parameters = {'languageCode': genius_design_current_language_code()} %}
                        {% set menuItems = genius_frontend_menu_items() %}
                        {% set menu = {} %}

                        {% if menuItems is not empty %}
                            {% for index, item in menuItems %}
                                {% set menu = menu | merge ([{
                                    'title': item.getTitle(),
                                    'url' : '',
                                    'routeName': 'genius_frontend_common',
                                    'parameters': parameters | merge({'slug': item.getSlug()})
                                }]) %}
                            {% endfor %}
                        {% endif %}

                        {{ display_simple_menu(menu, true, '', '', 'menu-left-bar') }}
                    
                </div>
                <div class="content">
                    {% include 'GeniusDesignBackendBundle:Messages:display.html.twig' %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
